<html>
	<head>
		<meta key="create-mode" value="{{tern create 1 0}}" />
		{{#if create}}
			<meta key="publicId" value="{{publicId}}" />
			<meta key="privateId" value="{{privateId}}" />
		{{/if}}
	</head>
	<body>
		<form>
			<label for="name">
				Title
				<input type="text" name="name" id="name" />
			</label>
			<label for="description">
				Description
				<textarea name="description" id="description"></textarea>
			</label>
			<input type="submit" id="submit" value="{{tern create "Create" "Edit"}}" />
		</form>

		<script src="/js/edit.js"></script>
	</body>
</html>
